<%= @customers %>

<div class="mx-auto shrink px-5">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full bg-white text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Visitor name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Mobile number
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Store
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                <% @customers.each do |customer| %>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        <%= customer.name %>
                    </th>
                    <td class="px-6 py-4">
                        <%= customer.email %>
                    </td>
                    <td class="px-6 py-4">
                        <%= customer.mobile_number %>
                    </td>
                    <td class="px-6 py-4">
                        <%= customer.store %>
                    </td>
                    <td class="px-6 py-4 text-right">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                <% end %>
                </tr>
            </tbody>
        </table>
    </div>
</div>