<div class="mx-auto shrink px-5">
  <div class="bg-white mt-5 mx-auto shrink max-w-lg border space-y-5 p-5 rounded-xl shadow-md">
    <h1 class="text-3xl text-center font-bold text-gray-900">Admin Log In</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "block text-md font-bold text-gray-900 mt-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow-sm mt-1 p-2 border w-full rounded focus:outline-none focus:ring-2 focus:ring-green-600" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "block text-md font-bold text-gray-900 mt-3"%>
        <%= f.password_field :password, autocomplete: "current-password", class: "shadow-sm mt-1 p-2 border w-full rounded focus:outline-none focus:ring-2 focus:ring-green-600" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mt-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions mt-6">
        <%= f.submit "Log In", class: "cursor-pointer inline-flex px-5 py-2 rounded-xl bg-green-500 text-white font-bold shadow-md hover:bg-green-600" %>
      </div>
    <% end %>

    <div class="mt-5 text-green-500 text-md">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
